/* Global css variable */
:root {
  --colorWhite: #fff;
  --colorGray1: #eee;
  --colorGray2: #bbb;
  --colorGray3: #777;
  --colorGray4: #333;
  --colorPrimary: #0093E9;
  --colorSecondary: #80D0C7;
  --colorWarning: #facf5a;
  --colorError: #ff5959;
  --colorSuccess: #4c9173;

  --gapSmall: 8px;
  --gap: 16px;
  --gapLarge: 24px;

  --borderRadius: 4px;
}

/* Document global styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--colorGray4);
}

input {
  border: 1px solid var(--colorGray2);
  border-radius: var(--borderRadius);
  font-size: 1rem;
  padding: calc(var(--gap) / 2);
}

input:disabled {
  cursor: not-allowed;
}